export("%and%","%or%","%not%",and, CleanProject,CrossCode,CrossTwo,ExportCoding,
       casesCodedByAnd, casesCodedByOr,casesCodedByNot,
       filesCodedByAnd, filesCodedByOr,filesCodedByNot,
       gselect.list,GetAttr,GetCaseId,GetCaseName,
       getCases, getCodingsByOne, getFiles,
       GetCodingTable,GetFileId,GetFileIdSets,GetFileName,
       list.deleted,pdelete,QueryFile,relation,retrieval,RQDA,RQDAQuery,
       SearchFiles,ShowSubset,SummaryCoding,undelete,write.FileList)
S3method("%and%",RQDA.vector)
S3method("%and%",codingsByOne)
S3method("%or%",RQDA.vector)
S3method("%or%",codingsByOne)
S3method("%not%",RQDA.vector)
S3method(print,SummaryCoding)
S3method(ShowSubset,fileName)
S3method(ShowSubset,CaseAttr)
S3method(ShowSubset, caseName)
S3method(ShowSubset,FileAttr)
S3method(summary,codingsByOne)
import(RGtk2)
import(gWidgetsRGtk2)
